fastapi
uvicorn
gunicorn
pydantic
pydantic[email]
pydantic-settings
email-validator
numpy
pandas
setuptools
requests
python-dateutil
pytz
geocoder
geopy
img2pdf
Pillow
pyephem
pyswisseph
timezonefinder
cachetools
motor
pymongo
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
python-dotenv
google-auth
httpx
autogen-agentchat
autogen-core
autogen-ext[openai]
openai

certifi
dnspython
tenacity
google-cloud-aiplatform
razorpay
reportlab
supabase
